
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
#*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
#Cake build tools
tools/
!tools/packages.config
dist/
publish/
/node_modules
#*.jar
/bundledist/Bundle.wixobj
/bundledist/VisionBox.ePassManager.Service.Installer.Release.x64.0.8.1.wixpdb
/Deployment/Assets/Licence.html
/Deployment/Assets/licence.rtf
/Deployment/Bundle/Bundle.wixobj
/Deployment/Bundle/Bundle.wxs
/Deployment/Bundle/WixBalExtension.dll
/bundle.cake
/bundle_build.ps1
/epass.cake
/epass.ps1
/visionbox.services.analysis.3.6.2.nupkg

#Ignore Files from IntelliJ IDEA
.idea
*/.idea